.navbar{
	width: 100%;
	font-family: monospace;
	padding: 1rem;
	border-bottom: 1px solid;
	flex-wrap: wrap;
	position: fixed;
}

.span-box{
	padding: 0 1rem 0 1rem;
	margin: auto;
	margin-top: 1rem;
	font-weight: 500;
}
.span-menu{
	margin-right: 1rem;
	float:right;
	border: none;
	background-color: transparent;
}
.span-menu:hover{
	transition:ease-in-out 0.3s;
	opacity: 0.6;
}